@page "{id:int?}"
@model TaskTracker.WebUI.Pages.Items.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Item</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ItemModel.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ItemModel.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ItemModel.IsCompleted)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ItemModel.IsCompleted)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ItemModel.DueDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ItemModel.DueDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ItemModel.CreatedDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ItemModel.CreatedDate)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="ItemModel.Id" />
        <input type="hidden" asp-for="ItemModel.ContextId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="/Contexts/Index" asp-route-selectedID="@Model.ItemModel.ContextId">Back to List</a>
    </form>
</div>
