@page "{id:int?}"
@model TaskTracker.WebUI.Pages.Items.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Item</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ItemModel.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ItemModel.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ItemModel.IsCompleted)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ItemModel.IsCompleted)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ItemModel.DueDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ItemModel.DueDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ItemModel.CreatedDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ItemModel.CreatedDate)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.ItemModel.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
